#nav-music
  #nav-music-hoverTips(onclick='anzhiyu.musicToggle()') 播放音乐
  #nav-music-hoverTips(onclick='anzhiyu.musicToggle()') 播放音乐
  meting-js#8824855106(server="tencent" type="playlist" mutex="true" preload="none" theme="var(--anzhiyu-main)" data-lrctype="0" order="random")
  //- meting-js#1082685104(server="kuwo" type="playlist" mutex="true" preload="none" theme="var(--anzhiyu-main)" data-lrctype="0" order="random")
//-   meting-js#8152976493(server="netease" type="playlist" mutex="true" preload="none" theme="var(--anzhiyu-main)" data-lrctype="0" order="random")
  # 8824475844 Blog
  # 8824855106 Puremusic
//- http://www.kuwo.cn/play_detail/72733074
//- http://www.kuwo.cn/playlist_detail/1082685104